<!doctype html>
<!-- Importe le fichier buzz.js (permet de rendre le code plus lisible)  -->
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

<!-- CACHE LA PARTIE BUZZER DE BASE A INCORPORER DANS LE CSS PLUS TARD -->
<style>
  #buzzerDiv{
    display: none
  }
</style>

<html lang="fr">
<head>
  <meta charset="utf-8">
  <title id='pageTitle'>LOGIN</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>
<body>

  <!-- PARTIE AFFICHEE LORS DU LOGIN -->
  <div id='loginDiv'>
    <h1>BUZZER APP LOGIN</h1>

    <form>
      <label for="name">USER NAME:</label>
      <input type="text" id='name' value="">
      <input type="button" id='loginButton' value="LOGIN" onclick=login()>
  
    </form>
  </div>

  <!-- PARTIE AFFICHEE APRES LE LOGIN -->
  <div id='buzzerDiv'>

    <h1>BUZZER APP</h1>
    
    <form>
      <label for="buzz">Buzz if you have the answer !</label>
      <input type="button" id='buzzButton' value="BUZZ !" onclick=buzz()>
    </form>

  </div>

</body>

<footer>
  <p>Web-app made by Nano et Nohz</p>
  <p>Pas encore de copyright (MIT SOON)</p>
</footer> 

  <!-- //A enlever -->
  <p>========================================================</p>
  <p id="test">TEST ZONE</p>
  <!-- Boutton de test à supprimer -->
  <input type="button" id='testButton' value="TEST" onclick=test()> 
  <!--  -->

</html>