<!doctype html>


<!-- CACHE LA PARTIE BUZZER DE BASE A INCORPORER DANS LE CSS PLUS TARD -->
<style>
  #buzzerDiv{
    display: none
  }
  #countDownTimer{
    display: none
  }
</style>

<html lang="fr">
<head>
  <meta charset="utf-8">
  <title id='pageTitle'>LOGIN</title>
  <!-- Importe l'icone -->
  <link rel="icon" href="/static/favicon.ico" />
  <!-- Importe JQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <!-- Importe Socket-IO -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <!-- Importe le fichier buzz.js (permet de rendre le code plus lisible)  -->
  <script type="text/javascript" src="/static/js/script.js"></script>
  <!-- Importe timecircles -->
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> -->
  <script type="text/javascript" src="static/js/TimeCircles.js"></script>
  <link rel="stylesheet" href="static/css/TimeCircles.css" />
</head>
<body>

  <!-- PARTIE AFFICHEE LORS DU LOGIN -->
  <div id='loginDiv'>
    <h1>BUZZER APP LOGIN</h1>

    <form>
      <label for="name">USER NAME:</label>
      <input type="text" id='name' value="">
      <input type="button" id='loginButton' value="LOGIN" onclick=login()>
      <!-- <input type="button" id='loginButton' value="LOGIN"> -->
  
    </form>
  </div>

  <!-- PARTIE AFFICHEE APRES LE LOGIN -->
  <div id='buzzerDiv'>

    <h1>BUZZER APP</h1>
    
    <form>
      <label for="buzz">Buzz if you have the answer ! <br></label>
      <input type="button" id='buzzButton' onclick=buzz() style="padding: 100px 100px; border-radius: 30%;background-color: #b61616;">
      <!-- <input type="button" id='buzzButton' value="BUZZ !"> -->
    </form>

  </div>

  <!-- PARTIE AFFICHEE LORS DU TIMER -->

  <div id="countDownDiv">
    <div id='whoBuzzed' style="text-align: center; font-size: xx-large;"></div>
    <div id="countDownTimer" data-timer="30" style="width:100%; height: 100%; margin-left: 30%;"></div>
    <script>
        // $("#countDownTimer").TimeCircles({start: false}); 
        $("#countDownTimer").TimeCircles({time: { Days: { show: false }, Hours: { show: false },Minutes: { show: false } },start: false});
        $("#countDownTimer").TimeCircles({count_past_zero: false}); 
        $("#countDownTimer").TimeCircles().addListener(countdownComplete);
        function countdownComplete(unit, value, total){
          if(total<=0){
                // $(this).fadeOut('slow').replaceWith("<h2>Time's Up!</h2>");
                switchPage();
                // $("#countDownTimer").TimeCircles().restart()
          }
        }          

    </script> 
    </div>      

<br>
<h2 style="background-color:white;">Logs</h2>
<div id="log" ></div>
<br>

</body>

<footer>
  <p>Web-app made by Nano et Nohz</p>
  <p>Pas encore de copyright (MIT SOON)</p>
</footer> 

  <!-- //A enlever -->
  <p>========================================================</p>
  <p id="test">TEST ZONE</p>
  <!-- Boutton de test à supprimer -->
  <input type="button" id='testButton' value="TEST" onclick=test()> 
  <!--  -->



</html>