<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BuzzerWebDesign</title>
    <link rel="stylesheet" href="static/assetsBootstrapLogin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assetsBootstrapLogin/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assetsBootstrapLogin/css/Footer-Basic.css">
    <link rel="stylesheet" href="static/assetsBootstrapLogin/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container"><a class="navbar-brand" href="#"><img id="logo" src="static/assetsBootstrapLogin/img/ezgif-3-d02a5a689820.png">BuzzerWebApp</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse d-xl-flex justify-content-xl-start" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div id="Div_acceuil">
        <div class="jumbotron">
            <h1>Welcome on the BuzzerWebApp!</h1>
            <p>To launch a game, you just have to enter your Discord Username below :</p>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" style="background: rgb(254,214,0);">Discord Username</span></div><input id='nameInput' class="form-control" type="text">
                <div class="input-group-append"><button class="btn btn-primary" type="button" style="background: rgb(254,86,28);" onclick="login()">Connect!</button></div>
                <script>
                    const namespace = '/test';
                    var socket = io(namespace);
                    function login(){
                        var name = document.getElementById('nameInput').value;
                        socket.emit('login_test', {name: name});
                    }
                        
                    socket.on('redirect', function(destination) {
                        window.location.href = destination;
                    });
        


                </script>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://i.imgur.com/0ooelxA.jpg"><i class="icon ion-social-instagram"></i></a><a href="https://i.imgur.com/0ooelxA.jpg"><i class="icon ion-social-snapchat"></i></a><a href="https://i.imgur.com/0ooelxA.jpg"><i class="icon ion-social-twitter"></i></a>
                <a
                    href="https://i.imgur.com/0ooelxA.jpg"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item">Web-App made by Nohz x Nano</li>
            </ul>
            <p class="copyright"><br><strong>ℕ² </strong>(soon the ©) 2020</p>
        </footer>
    </div>
    <script src="static/assetsBootstrapLogin/js/jquery.min.js"></script>
    <script src="static/assetsBootstrapLogin/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>